body {
    font-family: Helvetica, Arial, sans-serif; 
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    font-weight: lighter;
}
p {
    text-align: center;
}

form {
    width: 600px;
    padding: 1% 0;    
    margin: 0 auto;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #eee;    
}


.labels {
    display: flex;
    flex-direction: column;
    margin-left:2.5%;
    width: 27.5%;
}
.inputs {
    display: flex;
    flex-direction: column;
    width: 67.5%;
    margin-right: 2.5%;
}
.check{
    width: 100%;
    display: flex;
    justify-content: center;
}

table {
    width: 600px;
    background-color: #eee;
    padding: 1% 0;   
    margin: 0 auto;
    margin-bottom: 1%;
}
td, th {
    text-align: center;
}
td:nth-child(1),th:nth-child(1){    
    width:20%;
}
td:nth-child(2),td:nth-child(3), th:nth-child(2),th:nth-child(3) {
    width: 40%;
}